@use "presets/" as *;
@use "mixins/" as *;

.video-film {
  h1::after {
    position: absolute;

    width: 100%;
    margin: 0.85em 0 0 $gap;

    content: "";

    border-bottom: 3px solid #f0ad4f;
  }
}

.embed-responsive {
  border: 1px solid #d5d5d5;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.video-film-well {
  margin-bottom: 35px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;

  font-size: 1.2em;
}

.video-film-well-description {
  &-rate {
    margin-right: $gap;
    margin-left: $gap;
  }

  &__badge {
    font-size: 0.8em;
  }
}

.description-film,
.feedbacks-film,
.comment-film {
  h2 {
    &::before {
      position: absolute;
      left: 0;

      width: 30px;
      margin: 0.25em 0 0 0;

      content: "";

      border-bottom: 3px solid #f0ad4f;
    }
    &::after {
      position: absolute;

      width: 100%;
      margin: 0.85em 0 0 15px;

      content: "";

      border-bottom: 3px solid #f0ad4f;
    }
  }
}

.feedbacks-film-one {
  margin-top: $gap-triple;

  @include xs {
    margin-top: $gap-double;
  }
}

.feedbacks-film-two {
  margin-bottom: $gap !important;
}

.description-film-well {
  margin-top: $gap-triple;
  margin-bottom: 34px;

  @include xs {
    margin-top: $gap-double;
  }

  p {
    margin-bottom: 0;
  }
}

.comment-film-btn {
  float: right;
}

.comment-film-form {
  margin-top: $gap-triple;

  @include xs {
    margin-top: $gap-double;
  }
}
